Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: uv run --directory riichienv ruff check . --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: ty-check
        name: ty-check
        entry: uv run --directory riichienv ty check
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: uv run --directory riichienv pytest
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run --directory riichienv ruff format .
        language: system
        types: [python]
        pass_filenames: false

fix(3p): fix action mask for 3p
  riichienv-core/src/observation_3p/python.rs
Due: rustfmt, clippy

fix: use HandEvaluator3P for sanma score calculation in WASM
  riichienv-wasm/src/lib.rs
Due: rustfmt, clippy

docs: align core/dev guides with current feature flags and wasm exports
  Cargo.lock
  docs/DEVELOPMENT_GUIDE.md
  riichienv-core/README.md
  uv.lock
Due: none

fix(sanma): count kita even when N tile is missing from reconstructed hand
  riichienv-ui/src/__tests__/game_state.test.ts
  riichienv-ui/src/game_state.ts
  src/riichienv/visualizer/assets/viewer.js.gz
  src/riichienv/visualizer/viewer.py
Due: ruff-check, ty-check, pytest, ruff-format

fix(ui): improve danger tile highlight logic for multiple players
  riichienv-ui/src/renderers/renderer_2d.ts
  riichienv-ui/src/renderers/renderer_3d.ts
Due: none

fix(observation): enhance new_events method documentation and add test for event preservation
  src/riichienv/_riichienv.pyi
  tests/test_observation_serialization.py
Due: ruff-check, ty-check, pytest, ruff-format

fix(core): Fix orasu oyayame/tenpaiyame end conditions for 4p and 3p
  Cargo.lock
  README.md
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/tests.rs
  src/riichienv/game_modes.py
  tests/test_oyayame_tiebreak.py
  uv.lock
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: update version to 0.4.3 across all project files
  Cargo.lock
  pyproject.toml
  riichienv-core/Cargo.toml
  riichienv-ml/pyproject.toml
  riichienv-python/Cargo.toml
  riichienv-ui/package-lock.json
  riichienv-ui/package.json
  riichienv-wasm/Cargo.toml
  src/riichienv/visualizer/assets/viewer.js.gz
  uv.lock
Due: none

Fix MJAI replay start_kyoku wall initialization
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/tests.rs
Due: rustfmt, clippy

fix: Fix biome formatting for chankan winning tile assignment
  riichienv-ui/src/game_state.ts
Due: none

fix: remove unused file
  riichienv-validation/pyproject.toml
Due: none

feat: add pass observations, observe_event API, and fix stale legal_actions
  README.md
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-python/src/env.rs
  src/riichienv/_riichienv.pyi
  tests/env/test_apply_event.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: format
  riichienv-core/src/replay/mod.rs
  tests/env/test_apply_event.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: format
  riichienv-core/src/replay/mod.rs
Due: rustfmt, clippy

fix: update event handling for tsumo actions and improve pass observation logic
  README.md
  riichienv-core/src/replay/mod.rs
  tests/env/test_apply_event.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix: enhance chi action handling to include kuikae claim-resolution logic
  riichienv-core/src/state/event_handler.rs
Due: rustfmt, clippy

fix: implement furiten logic for passing on ron opportunities in KyokuStepIterator
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state_3p/event_handler.rs
  tests/env/test_apply_event.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix: add missing Kita variant to ActionType and rename enum members to SCREAMING_SNAKE_CASE (#167)
  riichienv-core/src/action.rs
  src/riichienv/_riichienv.pyi
  src/riichienv/action.py
  tests/env/actions/test_action_to_mjai.py
  tests/env/actions/test_daiminkan_rinshan_draw.py
  tests/env/actions/test_kakan.py
  tests/env/actions/test_meld_aka.py
  tests/env/actions/test_relaxed_red5.py
  tests/env/actions/test_riichi_autoplay_pass.py
  tests/env/actions/test_riichi_no_claim.py
  tests/env/actions/test_riichi_pass.py
  tests/env/agari/test_chankan.py
  tests/env/agari/test_pao.py
  tests/env/agari/test_pao_honba.py
  tests/env/rule_validation/test_claim_priority.py
  tests/env/rule_validation/test_furiten_rules.py
  tests/env/rule_validation/test_kuikae.py
  tests/env/rule_validation/test_riichi_sequence.py
  tests/env/rule_validation/test_temporary_furiten.py
  tests/env/rule_validation/test_valid_ankan.py
  tests/env/test_apply_event.py
  tests/env/test_discard_type.py
  tests/env/test_game_rules.py
  tests/env/test_honba_reset.py
  tests/env/test_illegal_actions.py
  tests/env/test_kan_dora_timing_events.py
  tests/env/test_m263_ron_mismatch.py
  tests/env/test_majsoul_pao_scoring.py
  tests/env/test_riichi_markers.py
  tests/env/test_riichi_no_claims.py
  tests/env/test_riichienv.py
  tests/env/test_riichienv_hora.py
  tests/env/test_sanma.py
  tests/test_core.py
  tests/test_env_scoring.py
  tests/test_midway_draw.py
  tests/test_mjai_parity.py
  tests/test_mjai_replay.py
  tests/test_observation_serialization.py
  tests/test_riichi_autoplay.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: format
  riichienv-core/src/shanten.rs
Due: rustfmt, clippy

test(shanten): fix ukeire regression tests to use valid 14-tile hands
  riichienv-core/src/shanten.rs
Due: rustfmt, clippy

fix(shanten): add bounds check for removed_type index in ukeire calculation
  riichienv-core/src/shanten.rs
Due: rustfmt, clippy

docs: translate RiichiError doc comments to English
  riichienv-core/src/errors.rs
Due: rustfmt, clippy

fix: replace hardcoded hand length fallback with INITIAL_HAND_SIZE constant
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
Due: rustfmt, clippy

feat: export Observation3P to Python and add docstrings for Observation/Observation3P
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
Due: ruff-check, ty-check, pytest, ruff-format

fix: normalize ankan consume_tiles in replay steps to match legal_actions
  riichienv-core/src/replay/mod.rs
  scripts/validate_tenhou_logs.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

ci: add security audit workflow
  .github/workflows/security-audit.yml
Due: none

chore: fmt
  riichienv-core/src/state_3p/mod.rs
Due: rustfmt, clippy

fix: increment drawable_count when pushing back oya tile in replay init
  riichienv-core/src/replay/mod.rs
Due: rustfmt, clippy

refactor: simplify draw_rinshan_tile by removing unreachable fallback
  riichienv-core/src/state_3p/wall.rs
Due: rustfmt, clippy

chore: bump version to 0.4.7 across all packages
  Cargo.lock
  pyproject.toml
  riichienv-core/Cargo.toml
  riichienv-ml/pyproject.toml
  riichienv-python/Cargo.toml
  riichienv-wasm/Cargo.toml
  uv.lock
Due: none

fix: disambiguate select_action_from_mjai with tsumogiri/consumed (#195)
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/mjai_select.rs
  riichienv-core/src/observation/mod.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/mod.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  tests/test_mjai_parity.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: format
  tests/test_mjai_parity.py
Due: ruff-check, ty-check, pytest, ruff-format

style: format
  riichienv-core/src/observation/mjai_select.rs
  riichienv-core/src/observation_3p/python.rs
Due: rustfmt, clippy

fix: keep dahai pai-less fallback in select_action_from_mjai
  riichienv-core/src/observation/mjai_select.rs
Due: rustfmt, clippy

test: cover chi consumed disambiguation in select_action_from_mjai
  tests/test_mjai_parity.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: restrict riichi_stage discards to tenpai-maintaining tiles
  riichienv-core/src/state/legal_actions.rs
  riichienv-core/src/state_3p/legal_actions.rs
  riichienv-core/src/tests.rs
Due: rustfmt, clippy

chore: harden Riichi handler and document riichi_stage invariant
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state/player.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/state_3p/player.rs
Due: rustfmt, clippy

docs: clarify riichi_stage invariant and tighten test fixture comment
  riichienv-core/src/state/player.rs
  riichienv-core/src/state_3p/player.rs
  riichienv-core/src/tests.rs
Due: rustfmt, clippy

fix: reinit wall.drawable_count in StartKyoku replay handler
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/tests.rs
Due: rustfmt, clippy
