Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run --directory riichienv ruff check . --fix
  language: system
  pass_filenames: false

ty-check:
  name: ty-check
  entry: uv run --directory riichienv ty check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run --directory riichienv pytest
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run --directory riichienv ruff format .
  language: system
  pass_filenames: false

fix: preserve extension renchan and settle final riichi deposits
  docs/MJSOUL_CORPUS_VALIDATION.md
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/match_end.rs
  scripts/validate_mjsoul_corpus.py
  tests/data/mjsoul_final_deposits.json
  tests/test_mjsoul_corpus_validation.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: stop tracking local corpus validation notes
  docs/MJSOUL_CORPUS_VALIDATION.md
Due: none

chore: keep corpus validation tools local
  scripts/validate_mjsoul_corpus.py
  tests/data/mjsoul_corpus_validation.json
  tests/data/mjsoul_final_deposits.json
  tests/data/mjsoul_heavenly_hand.json
  tests/test_mjsoul_corpus_validation.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: enforce sanma riichi and kita legality
  riichienv-core/src/state_3p/legal_actions.rs
  riichienv-core/src/state_3p/sanma.rs
  riichienv-core/tests/sanma_legal_actions.rs
Due: rustfmt, clippy

fix: normalize kakan actions before execution
  riichienv-core/src/action.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/kakan_action_normalization.rs
Due: rustfmt, clippy

fix: clear temporary furiten on discard
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/temporary_furiten.rs
Due: rustfmt, clippy

fix: retire response claims after calls
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/claim_lifecycle.rs
  tests/env/actions/test_claim_lifecycle.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix: correct yakuman scoring for special hands
  riichienv-core/src/yaku.rs
  riichienv-core/src/yaku_3p.rs
  riichienv-core/tests/special_hand_yakuman.rs
  tests/env/agari/test_special_hand_yakuman.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix: score dealer first-draw kokushi as thirteen-sided
  riichienv-core/src/yaku.rs
  riichienv-core/src/yaku_3p.rs
  riichienv-core/tests/special_hand_yakuman.rs
  tests/env/agari/test_special_hand_yakuman.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix: correct discard observations and dora features
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/observation_discard_history.rs
  tests/test_observation_tile_features.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

Fix Mahjong Soul dealer opening discard metadata
  docs/RULES.md
  riichienv-core/src/observation/mod.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation/sequence_features.rs
  riichienv-core/src/observation_3p/mod.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/rule.rs
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/observation_discard_history.rs
  src/riichienv/_riichienv.pyi
  tests/env/test_dealer_first_discard.py
  tests/test_observation_tile_features.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

Bump version to 0.4.10
  Cargo.lock
  pyproject.toml
  riichienv-core/Cargo.toml
  riichienv-ml/pyproject.toml
  riichienv-python/Cargo.toml
  riichienv-wasm/Cargo.toml
  uv.lock
Due: none

fix: include third-party license notices in distributions
  THIRD_PARTY_NOTICES.md
  pyproject.toml
  riichienv-core/LICENSE.nyanten
  riichienv-ui/demos/replay_demo.ipynb
  riichienv-ui/scripts/build-wasm.sh
  riichienv-ui/scripts/gen_tiles.js
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  pytest: any of: \.py$
  ruff-format: any of: \.py$
