Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: uv run --directory riichienv ruff check . --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: ty-check
        name: ty-check
        entry: uv run --directory riichienv ty check
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: uv run --directory riichienv pytest
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run --directory riichienv ruff format .
        language: system
        types: [python]
        pass_filenames: false

chore(state): remove unused comments from state module
  native/src/state/legal_actions.rs
  native/src/state/mod.rs
Due: rustfmt, clippy

fix: clear current_claims and active_players after all pass in WaitResponse
  native/src/state/mod.rs
Due: rustfmt, clippy

feat(rules): refine kan dora timing logic and add documentation
  docs/RULES.md
  native/src/lib.rs
  native/src/rule.rs
  native/src/state/mod.rs
  src/riichienv/__init__.py
  tests/env/test_kan_dora_timing_events.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor: use saturating_sub for ura marker index calculation
  native/src/state/mod.rs
Due: rustfmt, clippy

refactor: remove redundant round initialization in LogKyoku
  native/src/replay/mod.rs
Due: rustfmt, clippy

feat: refine native observation, state, and yaku checking logic
  demos/ml_baseline/buffer.py
  demos/ml_baseline/cql_dataset.py
  demos/ml_baseline/cql_model.py
  demos/ml_baseline/learner.py
  demos/ml_baseline/ray_actor.py
  demos/ml_baseline/train_online.py
  demos/ml_baseline/unified_model.py
  docs/FEATURE_ENCODING.md
  native/src/lib.rs
  native/src/observation.rs
  native/src/state/mod.rs
  native/src/yaku_checker.rs
  src/riichienv/_riichienv.pyi
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: implement shanten number calculation and related functions
  native/src/shanten.rs
Due: rustfmt, clippy

refactor: apply cargo fmt
  native/src/shanten.rs
Due: rustfmt, clippy

feat: update Chiitoitsu yaku comment and logic for clarity in observation.rs
  native/src/observation.rs
Due: rustfmt, clippy

feat: fix tile type checks for yaku possibility functions in yaku_checker.rs
  native/src/yaku_checker.rs
Due: rustfmt, clippy

feat: implement ML training pipeline with src layout
  demos/ml_baseline/.gitignore
  demos/ml_baseline/README.md
  demos/ml_baseline/actor_model.py
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/cql_dataset.py
  demos/ml_baseline/cql_model.py
  demos/ml_baseline/learner.py
  demos/ml_baseline/pyproject.toml
  demos/ml_baseline/ray_actor.py
  demos/ml_baseline/scripts/train_cql.py
  demos/ml_baseline/scripts/train_grp.py
  demos/ml_baseline/scripts/train_online.py
  demos/ml_baseline/src/riichienv_ml/__init__.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/data/__init__.py
  demos/ml_baseline/src/riichienv_ml/data/cql_dataset.py
  demos/ml_baseline/src/riichienv_ml/data/grp_dataset.py
  demos/ml_baseline/src/riichienv_ml/models/__init__.py
  demos/ml_baseline/src/riichienv_ml/models/cql_model.py
  demos/ml_baseline/src/riichienv_ml/models/grp_model.py
  demos/ml_baseline/src/riichienv_ml/models/mortal_model.py
  demos/ml_baseline/src/riichienv_ml/training/__init__.py
  demos/ml_baseline/src/riichienv_ml/training/buffer.py
  demos/ml_baseline/src/riichienv_ml/training/cql_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/grp_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/learner.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
  demos/ml_baseline/src/riichienv_ml/utils.py
  demos/ml_baseline/train_online.py
  demos/ml_baseline/unified_model.py
  demos/ml_baseline/uv.lock
  tests/env/rule_validation/test_riichi_sequence.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: update encoder integration and configuration for DQN training pipeline
  demos/ml_baseline/.gitignore
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/pyproject.toml
  demos/ml_baseline/scripts/train_online.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/data/cql_dataset.py
  demos/ml_baseline/src/riichienv_ml/models/mortal_model.py
  demos/ml_baseline/src/riichienv_ml/training/cql_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: remove unused imports and variables in test for Riichi action sequence
  tests/env/rule_validation/test_riichi_sequence.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: shard files across DataLoader workers to avoid duplicated work
  demos/ml_baseline/src/riichienv_ml/data/cql_dataset.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: improve test documentation for riichi_stage behavior in ankan availability
  tests/env/rule_validation/test_riichi_sequence.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: update working directory path for Ray workers and simplify assertion message in Riichi sequence test
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  tests/env/rule_validation/test_riichi_sequence.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: update training configuration parameters for improved performance and stability
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: update mjai tile parsing to use new helper function and improve readability
  native/src/parser.rs
  native/src/replay/mjai_replay.rs
  native/src/state/event_handler.rs
  native/src/tests.rs
  native/src/yaku_checker.rs
Due: rustfmt, clippy

feat: update model configuration and profiling scripts for improved performance
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/scripts/profile_rollout.py
  demos/ml_baseline/scripts/train_online.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: streamline encoding process in profile_episode and profile_batched_episodes functions
  demos/ml_baseline/scripts/profile_rollout.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: Add PPO training support and refactor online training script
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/configs/dqn.yml
  demos/ml_baseline/configs/ppo_baseline.yml
  demos/ml_baseline/configs/ppo_discard_history.yml
  demos/ml_baseline/configs/ppo_discard_history_shanten.yml
  demos/ml_baseline/pyproject.toml
  demos/ml_baseline/scripts/train_online.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/models/actor_critic.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
  demos/ml_baseline/uv.lock
Due: ruff-check, ty-check, pytest, ruff-format

feat: enhance PPO training with BatchNorm handling and state dict application
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: implement GRP reward shaping and integrate into training workflows
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/configs/ppo_baseline.yml
  demos/ml_baseline/configs/ppo_discard_history.yml
  demos/ml_baseline/configs/ppo_discard_history_shanten.yml
  demos/ml_baseline/src/riichienv_ml/agent.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: add called_tile to Meld struct and update related logic
  Cargo.lock
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/data/cql_dataset.py
  demos/ml_baseline/src/riichienv_ml/models/grp_model.py
  demos/ml_baseline/src/riichienv_ml/training/cql_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/learner.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_trainer.py
  native/Cargo.toml
  native/src/lib.rs
  native/src/observation.rs
  native/src/parser.rs
  native/src/replay/mod.rs
  native/src/state/event_handler.rs
  native/src/state/legal_actions.rs
  native/src/state/mod.rs
  native/src/types.rs
  native/src/yaku_checker.rs
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

Refactor code structure for improved readability and maintainability
  demos/ml_baseline/configs/extended.yml
  demos/ml_baseline/configs/extended_sp.yml
  native/src/data/shanten_jihai.bin.gz
  native/src/data/shanten_suhai.bin.gz
  native/src/sp.rs
Due: rustfmt, clippy

Refactor CQL and PPO configurations and models to include auxiliary loss for rank prediction
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/configs/dqn.yml
  demos/ml_baseline/configs/extended.yml
  demos/ml_baseline/configs/extended_sp.yml
  demos/ml_baseline/configs/ppo_baseline.yml
  demos/ml_baseline/configs/ppo_discard_history.yml
  demos/ml_baseline/configs/ppo_discard_history_shanten.yml
  demos/ml_baseline/scripts/train_cql.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/data/cql_dataset.py
  demos/ml_baseline/src/riichienv_ml/models/actor_critic.py
  demos/ml_baseline/src/riichienv_ml/models/cql_model.py
  demos/ml_baseline/src/riichienv_ml/training/buffer.py
  demos/ml_baseline/src/riichienv_ml/training/cql_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/learner.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: refactor GRP reward computation to return absolute rewards for all players
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: refactor online training to support parallel evaluation and baseline model integration
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: Refactor PPO training and evaluation for parallel execution
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/ppo_baseline.yml
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/models/cql_model.py
  demos/ml_baseline/src/riichienv_ml/training/buffer.py
  demos/ml_baseline/src/riichienv_ml/training/learner.py
  demos/ml_baseline/src/riichienv_ml/training/online_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: Refactor code for improved readability and formatting
  demos/ml_baseline/configs/ppo_baseline.yml
  demos/ml_baseline/configs/ppo_discard_history_shanten.yml
  native/src/observation.rs
  native/src/replay/mod.rs
  native/src/sp.rs
  native/src/state/event_handler.rs
  native/src/types.rs
Due: rustfmt, clippy

feat: Add PPO configuration for training and evaluation
  demos/ml_baseline/configs/baseline.yml
  demos/ml_baseline/configs/discard_history.yml
  demos/ml_baseline/configs/discard_history_shanten.yml
  demos/ml_baseline/configs/extended.yml
  demos/ml_baseline/configs/extended_sp.yml
  demos/ml_baseline/configs/ppo.yml
  demos/ml_baseline/configs/ppo_baseline.yml
  demos/ml_baseline/configs/ppo_discard_history.yml
Due: none

feat: Add new binary data files for shanten and nyanten key lookups
  native/src/data/nyanten_keys1.bin
  native/src/data/nyanten_keys2.bin
  native/src/data/nyanten_keys3.bin
  native/src/data/nyanten_shupai_keys.bin
  native/src/data/nyanten_zipai_keys.bin
  native/src/data/shanten_jihai.bin.gz
  native/src/data/shanten_suhai.bin.gz
  native/src/sp.rs
Due: rustfmt, clippy

refactor: Refactor code structure for improved readability and maintainability
  demos/ml_baseline/src/riichienv_ml/data/cql_dataset.py
  native/src/lib.rs
  native/src/observation.rs
  native/src/win_projection.rs
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor: Refactor Yaku and Hand Evaluation Logic
  demos/ml_baseline/scripts/profile_rollout.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
  demos/ml_baseline/test_online.py
  native/src/agari_calculator.rs
  native/src/env.rs
  native/src/lib.rs
  native/src/observation.rs
  native/src/parser.rs
  native/src/replay/mjai_replay.rs
  native/src/replay/mjsoul_replay.rs
  native/src/replay/mod.rs
  native/src/score.rs
  native/src/state/event_handler.rs
  native/src/state/legal_actions.rs
  native/src/state/mod.rs
  native/src/tests.rs
  native/src/types.rs
  native/src/win_projection.rs
  native/src/yaku.rs
  native/src/yaku_checker.rs
  src/riichienv/__init__.py
  src/riichienv/hand.py
  src/riichienv/visualizer/viewer.py
  tests/env/actions/test_kakan.py
  tests/env/actions/test_kyushu_kyuhai.py
  tests/env/agari/test_chankan.py
  tests/env/agari/test_pao.py
  tests/env/agari/test_pao_honba.py
  tests/env/rule_validation/test_kuikae.py
  tests/env/test_kan_dora_timing_events.py
  tests/env/test_m263_ron_mismatch.py
  tests/env/test_majsoul_pao_scoring.py
  tests/env/test_riichienv_hora.py
  tests/env/test_rules_chankan.py
  tests/test_agari_calculator.py
  tests/test_core.py
  tests/test_env_scoring.py
  tests/test_midway_draw.py
  tools/mjsoul-scoring-validation/main.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: Update version to 0.2.1 in Cargo.toml and pyproject.toml
  native/Cargo.toml
  native/src/hand_evaluator.rs
  pyproject.toml
Due: rustfmt, clippy

feat: Update version to 0.2.1 and add new PPO configuration for async rollout
  Cargo.lock
  demos/ml_baseline/configs/ppo_async.yml
  demos/ml_baseline/scripts/profile_rollout.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_trainer.py
  demos/ml_baseline/uv.lock
  src/riichienv/visualizer/viewer.py
  tests/test_agari_calculator.py
  tests/test_core.py
  tests/test_env_scoring.py
  uv.lock
Due: ruff-check, ty-check, pytest, ruff-format

refactor: Update PPO and PPO Async configurations for improved performance
  demos/ml_baseline/configs/ppo.yml
  demos/ml_baseline/configs/ppo_async.yml
  demos/ml_baseline/src/riichienv_ml/models/mortal_model.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: Rename and restructure classes and attributes for clarity and consistency
  src/riichienv/_riichienv.pyi
Due: none

fix: Update paths in ppo_async configuration for consistency
  demos/ml_baseline/configs/ppo_async.yml
Due: none

refactor: Reorder imports for consistency and clarity across multiple files
  native/src/env.rs
  native/src/hand_evaluator.rs
  native/src/replay/mjsoul_replay.rs
  native/src/replay/mod.rs
  native/src/state/legal_actions.rs
  native/src/state/mod.rs
Due: rustfmt, clippy
