Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: ruff-check
        name: ruff-check
        entry: uv run --directory riichienv ruff check . --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: ty-check
        name: ty-check
        entry: uv run --directory riichienv ty check
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: uv run --directory riichienv pytest
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run --directory riichienv ruff format .
        language: system
        types: [python]
        pass_filenames: false

fix(ui): refine meld tile spacing and rotated tile alignment
  tools/replay-visualizer/src/renderers/hand_renderer.ts
  tools/replay-visualizer/src/styles.ts
Due: none

chore: update viewer.js.gz and notebook
  demos/replay_demo.ipynb
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

feat: enrich end_kyoku event with hora details and inferred winning tile
  src/riichienv/visualizer/viewer.py
  tools/replay-visualizer/src/game_state.ts
  tools/replay-visualizer/src/styles.ts
Due: ruff-check, ty-check, pytest, ruff-format

fix: adjust info box vertical and horizontal position
  tools/replay-visualizer/src/renderers/info_renderer.ts
Due: none

feat: enhance riichi and wait calculation logic in visualizer
  src/riichienv/visualizer/viewer.py
  tests/test_metadata_injection.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: prevent mutation of python meld objects in rust
  native/src/agari_calculator.rs
  src/riichienv/visualizer/viewer.py
  tools/replay-visualizer/example_after_injection.jsonl
  tools/replay-visualizer/example_before_injection.jsonl
  tools/replay-visualizer/index.html
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor(visualizer): extract hardcoded colors to constants
  tools/replay-visualizer/src/constants.ts
  tools/replay-visualizer/src/index.ts
  tools/replay-visualizer/src/renderer.ts
  tools/replay-visualizer/src/renderers/center_renderer.ts
  tools/replay-visualizer/src/styles.ts
Due: none

chore: update notebook and compiled viewer
  demos/replay_debug.ipynb
  demos/replay_demo.ipynb
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

chore(deps): classify sharp as a development dependency
  tools/replay-visualizer/package-lock.json
  tools/replay-visualizer/package.json
Due: none

chore: move viewer's first update after event handler setup
  tools/replay-visualizer/src/index.ts
Due: none

fix: prevent tsumo animation for drawn tiles during riichi declaration
  tools/replay-visualizer/src/game_state.ts
  tools/replay-visualizer/src/renderer.ts
  tools/replay-visualizer/src/renderers/hand_renderer.ts
Due: none

fix: prevent incorrect tile drawing state for oya at kyoku start
  tools/replay-visualizer/src/renderer.ts
Due: none

docs: add visualizer images to readme
  README.md
  docs/assets/visualizer1.png
  docs/assets/visualizer2.png
Due: none

ci: remove musllinux build job from release workflow
  .github/workflows/release.yml
Due: none

refactor(replay-visualizer): remove development-era comments and unused logic notes
  tools/replay-visualizer/src/game_state.ts
  tools/replay-visualizer/src/index.ts
  tools/replay-visualizer/src/renderer.ts
Due: none

feat: implement illegal action detection and chombo penalty
  native/src/env.rs
  tests/env/test_illegal_actions.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix(env): refine action validation and ankan matching
  native/src/env.rs
  tests/env/actions/test_daiminkan_rinshan_draw.py
  tests/env/agari/test_chankan.py
  tests/env/test_m263_ron_mismatch.py
  tests/env/test_riichi_no_claims.py
  tests/env/test_riichienv.py
  tests/env/test_riichienv_hora.py
  tests/env/test_rules_chankan.py
  tests/env/validation/test_kuikae.py
  tests/env/validation/test_temporary_furiten.py
  tests/test_mjai_parity.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix(test): ensure valid hand setup for player 2 in chankan test
  tests/env/agari/test_chankan.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: correctly determine expected player interaction during waitact phase
  native/src/env.rs
Due: rustfmt, clippy

docs(tests): clarify illegal action comment in test
  tests/env/test_illegal_actions.py
  tests/env/test_riichienv_hora.py
Due: ruff-check, ty-check, pytest, ruff-format

test: clean up chankan test output
  tests/env/agari/test_chankan.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: correct actiontype enum casing in test_chankan.py
  tests/env/agari/test_chankan.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: env: strictly validate player actions against current phase
  native/src/env.rs
  tests/env/agari/test_chankan.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

style: add animated yakuman and kazoe yakuman banners to visualizer
  src/riichienv/visualizer/assets/viewer.js.gz
  tools/replay-visualizer/src/renderers/result_renderer.ts
  tools/replay-visualizer/src/styles.ts
Due: none

chore(replay-visualizer): clean up yakuman class application comments
  tools/replay-visualizer/src/renderers/result_renderer.ts
Due: none

fix: ensure robust yakuman check in replay visualizer and update assets
  src/riichienv/visualizer/assets/viewer.js.gz
  tools/replay-visualizer/src/renderers/result_renderer.ts
Due: none

Ensure unique wall shuffles per round with fixed seed
  native/src/env.rs
  native/src/tests.rs
Due: rustfmt, clippy

test: refactor and expand mjai action handling tests
  tests/env/actions/test_action_to_mjai.py
  tests/env/actions/test_mjai_action.py
  tests/env/actions/test_riichi_autoplay_pass.py
  tests/env/actions/test_riichi_no_claim.py
  tests/env/actions/test_riichi_pass.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: restructure and expand tests for kakan and kyushu kyuhai actions
  tests/env/actions/test_kakan.py
  tests/env/actions/test_kyushu_kyuhai.py
  tests/env/actions/test_meld_aka.py
  tests/env/helper.py
Due: ruff-check, ty-check, pytest, ruff-format

chore(env): remove obsolete comments in env.rs
  native/src/env.rs
Due: rustfmt, clippy

fix(riichi): enforce tenpai maintenance for discards after riichi
  native/src/env.rs
  tests/env/actions/test_riichi_autoplay_pass.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor(tests): improve riichi no claim tests and skip complex cases
  tests/env/actions/test_riichi_autoplay_pass.py
  tests/env/actions/test_riichi_no_claim.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: update gitignore with python version and trunk, and uv.lock
  .gitignore
  tools/README.md
  tools/mjsoul-parser/README.md
  tools/mjsoul-scoring-validation/README.md
  uv.lock
Due: none

feat: implement tile wall-based dora calculation and enhance scoring validation
  native/src/replay.rs
  tests/env/helper.py
  tools/mjsoul-scoring-validation/main.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

test: refactor valid ankan riichi legality test
  tests/env/rule_validation/test_valid_ankan.py
Due: ruff-check, ty-check, pytest, ruff-format

test(env): unskip and fix mjai parity tests with specific environment setups
  src/riichienv/_riichienv.pyi
  tests/env/test_game_modes.py
  tests/env/test_game_rules.py
  tests/env/test_riichienv.py
  tests/test_mjai_parity.py
Due: ruff-check, ty-check, pytest, ruff-format

docs: update project status regarding reinforcement learning
  README.md
Due: none

chore: remove unused import `Wind` from mjsoul scoring validation tool
  tools/mjsoul-scoring-validation/main.py
Due: ruff-check, ty-check, pytest, ruff-format

chore(test): remove unused observation variable assignments in tests
  tests/env/actions/test_riichi_autoplay_pass.py
  tests/env/test_game_rules.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: remove unused uuid variable from iter_game_kyoku
  tools/mjsoul-scoring-validation/main.py
Due: ruff-check, ty-check, pytest, ruff-format
