Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run --directory riichienv ruff check . --fix
  language: system
  pass_filenames: false

ty-check:
  name: ty-check
  entry: uv run --directory riichienv ty check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run --directory riichienv pytest
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run --directory riichienv ruff format .
  language: system
  pass_filenames: false

feat: implement kuikae rules and forbidden discards
  riichienv/src/env.rs
  riichienv/src/riichienv/__init__.py
  riichienv/src/riichienv/agents/random_agent.py
  riichienv/tests/env/test_honba_reset.py
  riichienv/tests/env/test_kuikae.py
  riichienv/tests/env/test_riichi_no_claims.py
  riichienv/tests/env/test_temporary_furiten.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor: reorganize test suite into env subdirectories
  .github/workflows/pytest.yml
  .github/workflows/ruff_ty.yml
  riichienv/pyproject.toml
  riichienv/src/riichienv/_riichienv.pyi
  riichienv/tests/env/actions/test_daiminkan_rinshan_draw.py
  riichienv/tests/env/actions/test_kakan.py
  riichienv/tests/env/actions/test_kyushu_kyuhai.py
  riichienv/tests/env/actions/test_meld_aka.py
  riichienv/tests/env/actions/test_mjai_action.py
  riichienv/tests/env/agari/test_chankan.py
  riichienv/tests/env/agari/test_pao.py
  riichienv/tests/env/agari/test_pao_honba.py
  riichienv/tests/env/test_env_ranks_points.py
  riichienv/tests/env/test_game_modes.py
  riichienv/tests/env/test_game_rules.py
  riichienv/tests/env/test_paishan.py
  riichienv/tests/env/validation/test_furiten_rules.py
  riichienv/tests/env/validation/test_kuikae.py
  riichienv/tests/env/validation/test_riichi_autoplay_pass.py
  riichienv/tests/env/validation/test_riichi_pass.py
  riichienv/tests/env/validation/test_temporary_furiten.py
  riichienv/tests/env/validation/test_valid_ankan.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: centralize environment setup in tests using helper_setup_env
  riichienv/tests/env/agari/test_chankan.py
  riichienv/tests/env/helper.py
  riichienv/tests/env/test_m27_chankan_inconsistency.py
  riichienv/tests/env/test_paishan.py
  riichienv/tests/env/test_riichi_no_claims.py
  riichienv/tests/env/validation/test_kuikae.py
  riichienv/tests/test_midway_draw.py
  riichienv/tests/test_oyayame_tiebreak.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: streamline test environment setup with helper function
  README.md
  riichienv/tests/env/actions/test_daiminkan_rinshan_draw.py
  riichienv/tests/env/agari/__init__.py
  riichienv/tests/env/test_honba_reset.py
  riichienv/tests/env/validation/__init__.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: add kyoku selector
  demos/replay_demo.ipynb
  riichienv/src/riichienv/visualizer/assets/viewer.js
  tools/replay-visualizer/src/game_state.ts
  tools/replay-visualizer/src/index.ts
  tools/replay-visualizer/src/renderer.ts
Due: none

chore: update demo notebook
  demos/replay_demo.ipynb
  riichienv/src/riichienv/_riichienv.pyi
Due: none

fix: correct typo 'riichi_delcared' to 'riichi_declared' in viewer.py
  riichienv/src/riichienv/visualizer/viewer.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: rename path to uv.lock
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  docs/DEVELOPMENT_GUIDE.md
Due: none

fix: update pyproject.toml to exclude demos and tools from ty
  pyproject.toml
Due: none

ci: disable uv caching in ci workflow
  .github/workflows/ci.yml
Due: none

docs: enhance api usage examples and tile representation in documentation
  .vscode/settings.json
  DATA_REPRESENTATION.md
  README.md
Due: none

refactor: rename mjai_mode to skip_mjai_logging and invert logic
  README.md
  examples/random_game.py
  native/src/env.rs
  src/riichienv/_riichienv.pyi
  tests/env/actions/test_kyushu_kyuhai.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: enable rust-analyzer check on save in vscode settings
  .vscode/settings.json
Due: none

chore: relocate random_game.py to demos directory
  demos/random_game.py
Due: ruff-check, ty-check, pytest, ruff-format

docs: update links in readme after documentation restructure
  README.md
  docs/DATA_REPRESENTATION.md
Due: none

ci: implement automated multi-platform wheel building and pypi publish
  .github/workflows/release.yml
  docs/DEVELOPMENT_GUIDE.md
Due: none

chore(ci): configure pypi environment for trusted publishing
  .github/workflows/release.yml
  README.md
  docs/DEVELOPMENT_GUIDE.md
Due: none

chore: update pyproject.toml with project metadata
  pyproject.toml
Due: none

ci: migrate to pypi trusted publishers and remove unused release targets
  .github/workflows/release.yml
  docs/DEVELOPMENT_GUIDE.md
  pyproject.toml
  uv.lock
Due: none

ci: remove s390x and ppc64le build targets from release workflow
  .github/workflows/release.yml
Due: none

feat: add replay navigation and debug panel toggle
  src/riichienv/visualizer/assets/viewer.js.gz
  tools/replay-visualizer/index.html
  tools/replay-visualizer/package.json
  tools/replay-visualizer/src/index.ts
  tools/replay-visualizer/src/renderer.ts
Due: none

feat: implement interactive round selection modal for replay visualizer
  src/riichienv/visualizer/assets/viewer.js.gz
  tools/replay-visualizer/src/game_state.ts
  tools/replay-visualizer/src/index.ts
  tools/replay-visualizer/src/renderer.ts
Due: none

chore: update notebook to use the latest widget
  demos/replay_demo.ipynb
Due: none

chore: simplify random game demo environment initialization
  demos/random_game.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: encapsulate riichienv state properties
  native/src/env.rs
  tests/env/test_honba_reset.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix(env): clear mjai logs and player event counts on reset
  native/src/env.rs
  tests/env/agari/test_chankan.py
  tests/env/helper.py
  tests/env/test_riichienv.py
  tests/test_oyayame_tiebreak.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: suppress deprecated warning for `env.reset`
  native/src/env.rs
Due: rustfmt, clippy

fix: resolve deprecation warning by using `python::attach`
  native/src/env.rs
Due: rustfmt, clippy

chore: update argument order for standardgamemode in tests
  tests/test_oyayame_tiebreak.py
Due: ruff-check, ty-check, pytest, ruff-format

chore(tests): remove outdated comments in test helpers
  tests/env/helper.py
  tests/test_oyayame_tiebreak.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: remove debug print statements from step function
  native/src/env.rs
Due: rustfmt, clippy

refactor: adjust player layout to use absolute positioning for river, info, and hand
  tools/replay-visualizer/src/renderer.ts
Due: none

style: enhance active player visual feedback with blinking bar
  tools/replay-visualizer/src/renderer.ts
Due: none

style: introduce ui styles for replay visualizer debug panel
  tools/replay-visualizer/src/renderer.ts
Due: none

feat: improve visual rendering of melds and riichi status
  README.md
  tools/replay-visualizer/src/game_state.ts
  tools/replay-visualizer/src/index.ts
  tools/replay-visualizer/src/renderer.ts
Due: none

fix: remove fallback steps in scroll-based turn jumping
  tools/replay-visualizer/src/index.ts
Due: none

fix: correctly process kakan events and update player melds
  tools/replay-visualizer/src/game_state.ts
  tools/replay-visualizer/src/renderer.ts
Due: none

style: adjust whitespace in viewer.py
  src/riichienv/visualizer/viewer.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: correct invalid css property and remove duplicate assignments
  tools/replay-visualizer/src/index.ts
  tools/replay-visualizer/src/renderer.ts
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  pytest: any of: \.py$
  ruff-format: any of: \.py$
