Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run --directory riichienv ruff check . --fix
  language: system
  pass_filenames: false

ty-check:
  name: ty-check
  entry: uv run --directory riichienv ty check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run --directory riichienv pytest
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run --directory riichienv ruff format .
  language: system
  pass_filenames: false

refactor(rule): simplify kuikae rule representation to boolean
  docs/RULES.md
  riichienv-core/src/rule.rs
  riichienv-core/src/state/legal_actions.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/legal_actions.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/tests.rs
  riichienv-python/src/lib.rs
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
  tests/env/test_majsoul_pao_scoring.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix: correct pao liability for 4-player ron yakuman
  docs/RULES.md
  riichienv-core/src/state/mod.rs
  riichienv-core/src/tests.rs
  tests/env/test_majsoul_pao_scoring.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix(scoring): correctly apply majsoul pao liability for composite yakuman
  docs/RULES.md
  riichienv-core/src/replay/mjai_replay.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/tests.rs
  tests/env/test_majsoul_pao_scoring.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor: streamline training pipeline and agent configurations
  riichienv-ml/.gitignore
  riichienv-ml/scripts/train_bc.py
  riichienv-ml/scripts/train_grp.py
  riichienv-ml/scripts/train_ppo.py
  riichienv-ml/src/riichienv_ml/agent.py
  riichienv-ml/src/riichienv_ml/config.py
  riichienv-ml/src/riichienv_ml/configs/3p/bc_logs.yml
  riichienv-ml/src/riichienv_ml/configs/3p/grp.yml
  riichienv-ml/src/riichienv_ml/configs/3p/ppo.yml
  riichienv-ml/src/riichienv_ml/configs/3p/ppo_v2.yml
  riichienv-ml/src/riichienv_ml/configs/3p/ppo_v3.yml
  riichienv-ml/src/riichienv_ml/configs/4p/bc_logs.yml
  riichienv-ml/src/riichienv_ml/configs/4p/bc_mortal.yml
  riichienv-ml/src/riichienv_ml/configs/4p/cql.yml
  riichienv-ml/src/riichienv_ml/configs/4p/grp.yml
  riichienv-ml/src/riichienv_ml/configs/4p/ppo.yml
  riichienv-ml/src/riichienv_ml/configs/4p/ppo_v2.yml
  riichienv-ml/src/riichienv_ml/configs/4p/ppo_v3.yml
  riichienv-ml/src/riichienv_ml/datasets/grp_dataset.py
  riichienv-ml/src/riichienv_ml/trainers/grp.py
  riichienv-ml/src/riichienv_ml/utils.py
Due: ruff-check, ty-check, pytest, ruff-format

docs: update readme
  riichienv-ml/README.md
Due: none

feat: introduce refined parameters for 4p training modes
  riichienv-ml/pyproject.toml
  riichienv-ml/scripts/train_bc.py
  riichienv-ml/src/riichienv_ml/config.py
  riichienv-ml/src/riichienv_ml/configs/4p/cql.yml
  riichienv-ml/src/riichienv_ml/configs/4p/grp.yml
  riichienv-ml/src/riichienv_ml/configs/4p/ppo.yml
  riichienv-ml/src/riichienv_ml/configs/4p/ppo_v2.yml
  riichienv-ml/src/riichienv_ml/trainers/bc_logs.py
  uv.lock
Due: ruff-check, ty-check, pytest, ruff-format

fix: adjust hyperparameters in 4p cql and ppo configs
  riichienv-ml/src/riichienv_ml/configs/4p/cql.yml
  riichienv-ml/src/riichienv_ml/configs/4p/ppo.yml
  riichienv-ml/src/riichienv_ml/configs/4p/ppo_v2.yml
Due: none

docs: update project overview in README
  riichienv-ml/README.md
Due: none

chore: update .gitignore with new ignore patterns
  .gitignore
Due: none

feat: implement opponent hand prediction model
  riichienv-ml/scripts/infer_hand_pred.py
  riichienv-ml/scripts/train_hand_pred.py
  riichienv-ml/src/riichienv_ml/config.py
  riichienv-ml/src/riichienv_ml/configs/4p/hand_pred_cnn.yml
  riichienv-ml/src/riichienv_ml/configs/4p/hand_pred_seq.yml
  riichienv-ml/src/riichienv_ml/datasets/hand_pred.py
  riichienv-ml/src/riichienv_ml/models/hand_pred.py
  riichienv-ml/src/riichienv_ml/trainers/hand_pred.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: include hand prediction components and update gitignore
  riichienv-ml/.gitignore
  riichienv-ml/src/riichienv_ml/configs/4p/hand_pred_cnn.yml
  riichienv-ml/src/riichienv_ml/configs/4p/hand_pred_seq.yml
  riichienv-ml/src/riichienv_ml/datasets/hand_pred.py
  riichienv-ml/src/riichienv_ml/models/hand_pred.py
  riichienv-ml/src/riichienv_ml/trainers/hand_pred.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: remove dqn online learner and worker modules
  riichienv-ml/scripts/infer_hand_pred.py
  riichienv-ml/scripts/train_hand_pred.py
  riichienv-ml/src/riichienv_ml/trainers/_dqn_learner.py
  riichienv-ml/src/riichienv_ml/trainers/_dqn_online.py
  riichienv-ml/src/riichienv_ml/trainers/_dqn_worker.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: remove riichienv_ml/agent.py file
  riichienv-ml/src/riichienv_ml/agent.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: remove open kan dora reveal timing from GameRule and related logic
  docs/RULES.md
  riichienv-core/src/rule.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  src/riichienv/_riichienv.pyi
  tests/env/test_kan_dora_timing_events.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore(mjai_replay): improve code formatting for rule matching
  riichienv-core/src/replay/mjai_replay.rs
Due: rustfmt, clippy

feat(action): introduce action3p for explicit 3-player action representation
  riichienv-core/src/action.rs
  riichienv-core/src/observation_3p/mod.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/replay/mod.rs
  riichienv-ml/src/riichienv_ml/datasets/mjai_logs.py
  riichienv-python/src/env.rs
  riichienv-python/src/lib.rs
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
  src/riichienv/action.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix(bc): ensure correct observation representation in behavioral cloning tests
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/mod.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/mod.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-ml/scripts/test_bc_3p.py
  riichienv-ml/scripts/test_bc_4p.py
  riichienv-ml/src/riichienv_ml/configs/3p/bc_logs.yml
  riichienv-ml/src/riichienv_ml/configs/4p/bc_logs.yml
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: add Agent class that plays in RiichiEnv using a model from a training config.
  riichienv-ml/.gitignore
  riichienv-ml/src/riichienv_ml/agents.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: remove unused GameViewer import from test scripts
  riichienv-ml/scripts/test_bc_3p.py
  riichienv-ml/scripts/test_bc_4p.py
  riichienv-ml/src/riichienv_ml/agents.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: update model paths and configurations for improved agent evaluation
  riichienv-ml/scripts/test_bc_3p.py
  riichienv-ml/src/riichienv_ml/agent_eval.py
  riichienv-ml/src/riichienv_ml/config.py
  riichienv-ml/src/riichienv_ml/configs/3p/bc_ppo.yml
  riichienv-ml/src/riichienv_ml/trainers/ppo.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: use `&& let` for concise pattern matching
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation/sequence_features.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/replay/mjsoul_replay.rs
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/state/mod.rs
  riichienv-python/src/env.rs
Due: rustfmt, clippy

fix: enable getrandom 0.4 wasm_js feature for wasm32 target
  Cargo.lock
  riichienv-wasm/Cargo.toml
Due: none

refactor: centralize Rust toolchain version in rust-toolchain.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(lint): add noqa for lazy visualizer import
  src/riichienv/__init__.py
Due: ruff-check, ty-check, pytest, ruff-format

build: remove 'extension-module' feature from pyproject.toml
  pyproject.toml
  uv.lock
Due: none

style: improve import placement in viewer.py
  src/riichienv/visualizer/viewer.py
Due: ruff-check, ty-check, pytest, ruff-format

fix(replay): correctly process baabei (kita) actions in replay iterators
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-ml/src/riichienv_ml/configs/3p/bc_logs.yml
  uv.lock
Due: rustfmt, clippy

fix: apply relative seat ordering to v2 encoder channels (#135)
  docs/FEATURE_ENCODING.md
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/python.rs
Due: rustfmt, clippy

chore: format
  riichienv-core/src/observation/encode.rs
Due: rustfmt, clippy

test: add 3P regression tests and refactor 4P test fixture
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation_3p/encode.rs
Due: rustfmt, clippy

fix: correct han-comment positions and wind yaku English names (#104)
  README.md
  riichienv-core/src/yaku.rs
  riichienv-ui/src/constants.ts
Due: rustfmt, clippy

docs: update GameViewer API docs to use get_viewer() and show()
  README.md
  pyproject.toml
  riichienv-ui/demos/README.md
  riichienv-ui/demos/replay_debug.ipynb
  riichienv-ui/demos/replay_demo.ipynb
  uv.lock
Due: none

chore: format
  riichienv-wasm/src/lib.rs
Due: rustfmt, clippy

fix: Bump package.json version to 0.3.7
  riichienv-ui/package.json
Due: none

fix: remove unused LayoutResult interface and styleElement assignment
  riichienv-ui/src/base_viewer.ts
  riichienv-ui/src/renderers/renderer_2d.ts
Due: none

fix: apply highlight overlay to side faces of 3D tiles (#133)
  riichienv-ui/src/renderers/renderer_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

fix: address PR review feedback on tile overlay helper
  riichienv-ui/README.md
  riichienv-ui/src/renderers/renderer_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

fix: add dedicated kakan branch in opponent meld rendering to correctly pop added tile before stolen tile
  riichienv-ui/src/renderers/renderer_3d.ts
  riichienv-ui/src/styles_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

fix: adjust player panel and wait indicator positions in 3D view
  riichienv-ui/player_custom_demo.html
  riichienv-ui/src/renderers/renderer_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

fix: render own player melds above hand layer gradient in 3D view
  riichienv-ui/src/renderers/renderer_3d.ts
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  pytest: any of: \.py$
  ruff-format: any of: \.py$
