Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run --directory riichienv ruff check . --fix
  language: system
  pass_filenames: false

ty-check:
  name: ty-check
  entry: uv run --directory riichienv ty check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run --directory riichienv pytest
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run --directory riichienv ruff format .
  language: system
  pass_filenames: false

refactor: Format method signature for improved readability in Kyoku class
  src/riichienv/_riichienv.pyi
Due: none

refactor: Enhance sampling logic and handle deadlocks in RVWorker class
  demos/ml_baseline/scripts/profile_rollout.py
  demos/ml_baseline/src/riichienv_ml/training/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: Add win projection feature with updated configurations and encoding adjustments
  demos/ml_baseline/configs/ppo_async_rev2.yml
  demos/ml_baseline/src/riichienv_ml/data/cql_dataset.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
  native/src/observation.rs
  native/src/win_projection.rs
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor: Remove debug logging for kyoku tracking in PPOWorker class
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
Due: ruff-check, ty-check, pytest, ruff-format

docs: Update comment to clarify encoding of win projection results
  native/src/win_projection.rs
Due: rustfmt, clippy

feat: Enhance PPO training configuration with new parameters and adjustments for model stability
  demos/ml_baseline/configs/ppo_async_rev2.yml
  demos/ml_baseline/scripts/train_online.py
  demos/ml_baseline/src/riichienv_ml/config.py
  demos/ml_baseline/src/riichienv_ml/models/actor_critic.py
  demos/ml_baseline/src/riichienv_ml/training/cql_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_trainer.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: Correct value tracking in PPO update by using clamped values
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: Replace float("-inf") with -1e9 for masked logits in PPOWorker and PPOLearner
  demos/ml_baseline/src/riichienv_ml/training/ppo_learner.py
  demos/ml_baseline/src/riichienv_ml/training/ppo_worker.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: Add base64 serialization/deserialization for Observation
  Cargo.lock
  native/Cargo.toml
  native/src/observation.rs
  src/riichienv/_riichienv.pyi
  tests/test_observation_serialization.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: format
  native/src/observation.rs
  tests/test_observation_serialization.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: Expose core modules as pub mod for Rust consumers
  native/src/lib.rs
Due: rustfmt, clippy

chore: bump up version
  pyproject.toml
  riichienv-core/Cargo.toml
  riichienv-python/Cargo.toml
Due: none

feat: add README for riichienv-core with usage examples and module descriptions
  README.md
  riichienv-core/README.md
Due: none

feat: add support for 3-player scoring and observation in RiichiEnv
  Cargo.lock
  riichienv-core/src/action.rs
  riichienv-core/src/game_variant.rs
  riichienv-core/src/hand_evaluator.rs
  riichienv-core/src/lib.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/helpers.rs
  riichienv-core/src/observation_3p/mod.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/replay/mjai_replay.rs
  riichienv-core/src/replay/mjsoul_replay.rs
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/rule.rs
  riichienv-core/src/score.rs
  riichienv-core/src/state/game_mode.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/game_mode.rs
  riichienv-core/src/state_3p/legal_actions.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/state_3p/player.rs
  riichienv-core/src/state_3p/sanma.rs
  riichienv-core/src/state_3p/wall.rs
  riichienv-core/src/tests.rs
  riichienv-core/src/types.rs
  riichienv-core/src/win_projection.rs
  riichienv-core/src/yaku.rs
  riichienv-python/src/env.rs
  riichienv-python/src/lib.rs
  tests/env/test_sanma.py
  uv.lock
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: update turn handling and kita declaration effects for 3-player game
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/state_3p/sanma.rs
  riichienv-core/src/yaku_3p.rs
Due: rustfmt, clippy

feat: add double riichi declaration handling for first turn in 3-player mode
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/mod.rs
Due: rustfmt, clippy

feat: implement honba bonus handling for ron winners in event handler
  riichienv-core/src/state/event_handler.rs
Due: rustfmt, clippy

feat: update README to clarify rule flexibility for three-player mahjong
  README.md
Due: none

Add validation script for 4P RiichiEnv implementation
  tools/mjsoul-scoring-validation/validate_env_3p.py
  tools/mjsoul-scoring-validation/validate_env_4p.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: clear rinshan flag after discard to ensure correct houtei detection
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
Due: rustfmt, clippy

feat: refactor player count handling to support three-player mahjong
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/mod.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/state/mod.rs
Due: rustfmt, clippy

feat: change players from Vec to array for fixed player count in GameState
  riichienv-core/src/state/mod.rs
Due: rustfmt, clippy

feat: remove unused shanten tables and refactor shanten calculation logic
  riichienv-core/src/lib.rs
  riichienv-core/src/shanten.rs
  riichienv-core/src/win_projection.rs
Due: rustfmt, clippy

feat: refactor code for improved readability and consistency across various modules
  riichienv-core/src/action.rs
  riichienv-core/src/hand_evaluator.rs
  riichienv-core/src/hand_evaluator_3p.rs
  riichienv-core/src/replay/mjsoul_replay.rs
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state/legal_actions.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/game_mode.rs
  riichienv-core/src/state_3p/legal_actions.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/state_3p/sanma.rs
  riichienv-core/src/state_3p/wall.rs
  riichienv-core/src/tests.rs
  riichienv-core/src/win_projection.rs
  riichienv-core/src/yaku_3p.rs
  riichienv-python/src/env.rs
Due: rustfmt, clippy

fix: correct next player calculation in sanma player rotation test
  riichienv-core/src/tests.rs
Due: rustfmt, clippy

feat: refactor scoring calculations and improve readability in event handler and mod files
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/mod.rs
Due: rustfmt, clippy

fix: streamline score adjustment logic in player scoring
  riichienv-core/src/state/event_handler.rs
Due: rustfmt, clippy

feat: implement 3-player specific shanten calculations and update effective tiles logic
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/shanten.rs
Due: rustfmt, clippy

feat: implement 3-player shanten calculations and enhance legal action logic for pon options
  riichienv-core/src/shanten.rs
  riichienv-core/src/state/legal_actions.rs
  riichienv-core/src/state_3p/legal_actions.rs
  tests/test_shanten.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: add 3-player shanten calculation functions and corresponding tests
  src/riichienv/_riichienv.pyi
  tests/test_shanten.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: add unit tests for game and layout configurations, integrate Vitest for testing framework
  riichienv-ui/package-lock.json
  riichienv-ui/package.json
  riichienv-ui/src/__tests__/config.test.ts
  riichienv-ui/src/index.ts
  riichienv-ui/src/live_controller.ts
  riichienv-ui/src/live_viewer.ts
  riichienv-ui/vitest.config.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

feat: Enhance renderer for dynamic player count and improve UI responsiveness
  docs/DEVELOPMENT_GUIDE.md
  riichienv-core/README.md
  riichienv-ui/DEVELOPMENT_GUIDE.md
  riichienv-ui/README.md
  riichienv-ui/index.html
  riichienv-ui/package-lock.json
  riichienv-ui/package.json
  riichienv-ui/src/config.ts
  riichienv-ui/src/controller.ts
  riichienv-ui/src/game_state.ts
  riichienv-ui/src/renderer.ts
  riichienv-ui/src/renderers/center_renderer.ts
  riichienv-ui/src/renderers/hand_renderer.ts
  riichienv-ui/src/renderers/renderer_2d.ts
  riichienv-ui/src/renderers/renderer_interface.ts
  riichienv-ui/src/renderers/result_renderer.ts
  riichienv-ui/src/types.ts
  riichienv-ui/src/viewer.ts
  riichienv-ui/src/wasm/bridge.ts
  riichienv-ui/src/wasm/loader.ts
  riichienv-wasm/src/lib.rs
  src/riichienv/visualizer/assets/viewer.js.gz
Due: rustfmt, clippy

feat: Enhance 3D tile rendering with configurable side faces and improved styles
  riichienv-ui/src/renderers/renderer_3d.ts
  riichienv-ui/src/styles_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

feat: Enhance opponent hand rendering with active wait highlights in 3D viewer
  riichienv-ui/src/renderers/renderer_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

feat: Refactor opponent hand and meld rendering for improved layout and styling
  riichienv-ui/src/renderers/renderer_3d.ts
  riichienv-ui/src/styles_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

feat: Update 3D layout configurations and styles for improved rendering
  riichienv-ui/src/config.ts
  riichienv-ui/src/renderers/renderer_3d.ts
  riichienv-ui/src/styles_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

feat: Enhance GameViewer with new inspection methods and improve replay functionality
  README.md
  demos/README.md
  src/riichienv/visualizer/viewer.py
Due: ruff-check, ty-check, pytest, ruff-format

fix: Improve error handling in GameViewer.get_results for out-of-range indices
  README.md
  src/riichienv/visualizer/viewer.py
Due: ruff-check, ty-check, pytest, ruff-format

feat(renderers): refactor tile rendering to use DOM elements instead of innerHTML for improved performance
  riichienv-ui/src/renderers/center_renderer.ts
  riichienv-ui/src/renderers/hand_renderer.ts
  riichienv-ui/src/renderers/renderer_2d.ts
  riichienv-ui/src/renderers/renderer_3d.ts
  riichienv-ui/src/renderers/river_renderer.ts
  riichienv-ui/src/renderers/tile_renderer.ts
  riichienv-ui/src/styles.ts
  riichienv-ui/src/styles_3d.ts
  riichienv-ui/src/viewer_3d.ts
  src/riichienv/visualizer/assets/viewer.js.gz
Due: none

feat(rules): introduce granular double yakuman, sanchaho, and kan dora timing rules
  docs/RULES.md
  riichienv-core/src/replay/mjai_replay.rs
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/rule.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-python/src/lib.rs
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
  tests/env/test_kan_dora_timing_events.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  pytest: any of: \.py$
  ruff-format: any of: \.py$
