Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run --directory riichienv ruff check . --fix
  language: system
  pass_filenames: false

ty-check:
  name: ty-check
  entry: uv run --directory riichienv ty check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run --directory riichienv pytest
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run --directory riichienv ruff format .
  language: system
  pass_filenames: false

test: cover reach legality on StartKyoku replay
  riichienv-core/src/tests.rs
Due: rustfmt, clippy

Potential fix for pull request finding
  riichienv-core/src/state_3p/event_handler.rs
Due: rustfmt, clippy

chore: bump version to 0.4.8 across all packages
  Cargo.lock
  pyproject.toml
  riichienv-core/Cargo.toml
  riichienv-core/src/tests.rs
  riichienv-ml/pyproject.toml
  riichienv-python/Cargo.toml
  riichienv-wasm/Cargo.toml
  uv.lock
Due: rustfmt, clippy

chore: remove unrelated changes
  riichienv-core/src/tests.rs
Due: rustfmt, clippy

feat: impl sp
  riichienv-core/src/lib.rs
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/sp.rs
  src/riichienv/_riichienv.pyi
Due: rustfmt, clippy

feat: Add benchmarks and encoding tests for sp features
  riichienv-core/Cargo.toml
  riichienv-core/benches/sp_bench.rs
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/sp.rs
Due: rustfmt, clippy

refactor sp
  riichienv-core/benches/sp_bench.rs
  riichienv-core/src/sp.rs
Due: rustfmt, clippy

feat: use inline FxHash
  riichienv-core/src/sp.rs
Due: rustfmt, clippy

feat: semantic correctness tests
  riichienv-core/src/sp.rs
  tests/test_sp_feature_validation.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: update sp features
  .gitignore
  Cargo.lock
  Cargo.toml
  riichienv-core/Cargo.toml
  riichienv-core/src/agari.rs
  riichienv-core/src/agari_table.rs
  riichienv-core/src/bin/build_agari_table.rs
  riichienv-core/src/data/agari_table.bin
  riichienv-core/src/hand_evaluator.rs
  riichienv-core/src/lib.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
  riichienv-core/src/yaku.rs
  riichienv-core/src/yaku_3p.rs
Due: rustfmt, clippy

perf: speed up SP base_score_tsumo via agari_table FxHash + lean tweaks
  riichienv-core/src/agari_table.rs
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
Due: rustfmt, clippy

perf: trim dead point fields and inline SP score path
  riichienv-core/src/sp.rs
Due: rustfmt, clippy

feat: improve sp features
  riichienv-core/src/agari_table.rs
  riichienv-core/src/shanten.rs
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
Due: rustfmt, clippy

feat: add drev.rs
  riichienv-core/benches/sp_bench.rs
  riichienv-core/src/drev.rs
  riichienv-core/src/lib.rs
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/sp.rs
Due: rustfmt, clippy

feat: extend sp features
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/mod.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
  riichienv-python/src/lib.rs
Due: rustfmt, clippy

feat: fix bug on ryanpeikou and kokushi
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
Due: rustfmt, clippy

feat: remove mortal test harness
  Cargo.lock
  Cargo.toml
  riichienv-core/Cargo.toml
  riichienv-core/src/lib.rs
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
Due: rustfmt, clippy

Update event_handler.rs
  riichienv-core/src/state/event_handler.rs
Due: rustfmt, clippy

feat: expose SP and DREV features in WASM
  riichienv-wasm/src/lib.rs
Due: rustfmt, clippy

chore: clean up obsolete ignore rules
  .gitignore
Due: none

benchmark yaku and feature encoding paths
  docs/BENCHMARK.md
  riichienv-core/Cargo.toml
  riichienv-core/benches/feature_bench.rs
Due: rustfmt, clippy

add SP feature validation utility
  scripts/validate_sp_features.py
Due: ruff-check, ty-check, pytest, ruff-format

test complex rule lifecycles and SP correctness
  docs/VALIDATION_STRATEGY.md
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/rule_lifecycle.rs
  riichienv-core/tests/sp_yaku_differential.rs
Due: rustfmt, clippy

test high-risk mahjong rule boundaries
  docs/VALIDATION_STRATEGY.md
  riichienv-core/tests/rule_edge_cases.rs
Due: rustfmt, clippy

test pao draw and multi-kyoku boundaries
  docs/VALIDATION_STRATEGY.md
  riichienv-core/tests/multi_kyoku_replay.rs
  riichienv-core/tests/rule_edge_cases.rs
Due: rustfmt, clippy

feat: add sanma SP and DREV features
  README.md
  docs/BENCHMARK.md
  docs/VALIDATION_STRATEGY.md
  docs/adr/0001-staged-engine-replay-feature-boundaries.md
  riichienv-core/src/drev.rs
  riichienv-core/src/engine.rs
  riichienv-core/src/feature_context.rs
  riichienv-core/src/features.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/sp.rs
  riichienv-core/tests/facade_consumer_contract.rs
  riichienv-python/src/features.rs
  riichienv-python/src/lib.rs
  riichienv-wasm/src/lib.rs
  riichienv-wasm/tests/node_smoke.cjs
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
  tests/test_feature_batch.py
  tests/test_feature_contracts.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: add red-aware actions and harden feature validation
  docs/BENCHMARK.md
  docs/ENCODING.md
  docs/VALIDATION_STRATEGY.md
  docs/adr/0001-staged-engine-replay-feature-boundaries.md
  riichienv-core/benches/feature_bench.rs
  riichienv-core/benches/sp_bench.rs
  riichienv-core/src/action.rs
  riichienv-core/src/agari_table.rs
  riichienv-core/src/bin/build_agari_table.rs
  riichienv-core/src/drev.rs
  riichienv-core/src/engine.rs
  riichienv-core/src/feature_context.rs
  riichienv-core/src/features.rs
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/mod.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/mod.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/sp.rs
  riichienv-core/src/sp_yaku.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/sp_yaku_differential.rs
  riichienv-python/src/lib.rs
  riichienv-wasm/src/lib.rs
  riichienv-wasm/tests/node_smoke.cjs
  scripts/validate_sp_features.py
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
  tests/test_engine_facade.py
  tests/test_mjai_replay.py
  tests/test_sp_feature_validation.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

test: cover settlement and full-game replay parity
  docs/RULES.md
  docs/VALIDATION_STRATEGY.md
  riichienv-core/src/rule.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/engine_replay_differential.rs
  riichienv-core/tests/settlement_oracle.rs
  riichienv-wasm/tests/node_smoke.cjs
  src/riichienv/_riichienv.pyi
  tests/test_engine_facade.py
  tests/test_engine_replay_differential.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

test: cover forced calls and multi-ron replay parity
  docs/VALIDATION_STRATEGY.md
  riichienv-core/tests/engine_replay_differential.rs
  riichienv-core/tests/rule_edge_cases.rs
Due: rustfmt, clippy

feat: add external replay and deep SP validation
  docs/BENCHMARK.md
  docs/VALIDATION_STRATEGY.md
  docs/adr/0001-staged-engine-replay-feature-boundaries.md
  riichienv-core/benches/sp_bench.rs
  riichienv-core/src/features.rs
  riichienv-core/src/replay/mjai_replay.rs
  riichienv-core/src/replay/mjsoul_replay.rs
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/sp.rs
  riichienv-core/src/yaku.rs
  scripts/validate_external_replays.py
  src/riichienv/_riichienv.pyi
  tests/data/external_replay/README.md
  tests/data/external_replay/manifest.json
  tests/data/external_replay/mjsoul_3p_double_ron_excerpt.jsonl
  tests/data/external_replay/tenhou_4p_dealer_tsumo_excerpt.jsonl
  tests/data/external_replay/tenhou_4p_honba_kyotaku_excerpt.jsonl
  tests/data/external_replay/tenhou_4p_ranked_excerpt.jsonl
  tests/test_external_replay_oracle.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: add public-history DREV v2
  docs/BENCHMARK.md
  docs/VALIDATION_STRATEGY.md
  docs/adr/0001-staged-engine-replay-feature-boundaries.md
  docs/adr/0002-drev-public-history-and-risk-evidence.md
  riichienv-core/benches/feature_bench.rs
  riichienv-core/src/drev_v2.rs
  riichienv-core/src/engine.rs
  riichienv-core/src/features.rs
  riichienv-core/src/lib.rs
  riichienv-core/src/observation/encode.rs
  riichienv-core/src/observation/mod.rs
  riichienv-core/src/observation/python.rs
  riichienv-core/src/observation_3p/encode.rs
  riichienv-core/src/observation_3p/mod.rs
  riichienv-core/src/observation_3p/python.rs
  riichienv-core/src/replay/mjai_replay.rs
  riichienv-core/src/replay/mjsoul_replay.rs
  riichienv-core/src/replay/mod.rs
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/src/state_3p/sanma.rs
  riichienv-core/tests/drev_v2_hidden_oracle.rs
  riichienv-core/tests/facade_consumer_contract.rs
  riichienv-python/src/env.rs
  riichienv-python/src/features.rs
  riichienv-python/src/lib.rs
  riichienv-wasm/src/lib.rs
  riichienv-wasm/tests/node_smoke.cjs
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
  tests/test_feature_batch.py
  tests/test_feature_contracts.py
  tests/test_observation_serialization.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

test: validate DREV against replay state
  docs/VALIDATION_STRATEGY.md
  riichienv-core/src/drev_v2.rs
  riichienv-core/src/drev_validation.rs
  riichienv-core/src/lib.rs
  riichienv-core/src/replay/mjai_replay.rs
  riichienv-core/tests/drev_replay_validation.rs
  riichienv-python/src/drev_validation.rs
  riichienv-python/src/lib.rs
  scripts/validate_drev_replays.py
  src/riichienv/__init__.py
  src/riichienv/_riichienv.pyi
  tests/data/drev_replay/README.md
  tests/data/drev_replay/manifest.json
  tests/data/external_replay/README.md
  tests/data/external_replay/manifest.json
  tests/test_drev_replay_validation.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix: base nagashi mangan renchan on dealer tenpai
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/fixtures/issue_214_south_1.jsonl
  riichienv-core/tests/nagashi_mangan.rs
  riichienv-core/tests/nagashi_mangan_replay.rs
Due: rustfmt, clippy

test: cover nagashi and kan regressions from issue 107
  riichienv-core/tests/issue_107_regressions.rs
Due: rustfmt, clippy

chore: prepare RiichiEnv 0.4.9 release
  Cargo.lock
  docs/DEVELOPMENT_GUIDE.md
  pyproject.toml
  riichienv-core/Cargo.toml
  riichienv-ml/pyproject.toml
  riichienv-python/Cargo.toml
  riichienv-wasm/Cargo.toml
  uv.lock
Due: none

chore: update dependencies for release security fixes
  Cargo.lock
  pyproject.toml
  riichienv-core/Cargo.toml
  riichienv-python/Cargo.toml
  riichienv-ui/package-lock.json
  riichienv-ui/package.json
  src/riichienv/visualizer/assets/viewer.js.gz
  uv.lock
Due: none

fix(core): keep abortive draws from ending matches
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/abortive_draw_renchan.rs
  riichienv-core/tests/fixtures/issue_229_south_4.jsonl
Due: rustfmt, clippy

fix(core): correct abortive draw resolution and replay state
  riichienv-core/src/state/event_handler.rs
  riichienv-core/src/state/legal_actions.rs
  riichienv-core/src/state/mod.rs
  riichienv-core/src/state_3p/event_handler.rs
  riichienv-core/src/state_3p/legal_actions.rs
  riichienv-core/src/state_3p/mod.rs
  riichienv-core/tests/abortive_draw_resolution.rs
Due: rustfmt, clippy

test: add strict Mahjong Soul corpus validation
  docs/MJSOUL_CORPUS_VALIDATION.md
  scripts/validate_mjsoul_corpus.py
  tests/data/mjsoul_corpus_validation.json
  tests/data/mjsoul_heavenly_hand.json
  tests/test_mjsoul_corpus_validation.py
Due: ruff-check, ty-check, pytest, ruff-format

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  pytest: any of: \.py$
  ruff-format: any of: \.py$
