Repository smly/RiichiEnv: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path riichienv/Cargo.toml --all -- --check
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --manifest-path riichienv/Cargo.toml --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run --directory riichienv ruff check . --fix
  language: system
  pass_filenames: false

ty-check:
  name: ty-check
  entry: uv run --directory riichienv ty check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run --directory riichienv pytest
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run --directory riichienv ruff format .
  language: system
  pass_filenames: false

fix: correct typo in riichi pass test comment
  tests/env/actions/test_riichi_pass.py
Due: ruff-check, ty-check, pytest, ruff-format

style: improve readability of tile type checks in _check_pao_conditions
  native/src/env.rs
Due: rustfmt, clippy

fix: update meld __init__ from_who default to -1
  src/riichienv/_riichienv.pyi
Due: none

chore: add iterator import for type hinting
  tools/mjsoul-scoring-validation/main.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: import kyoku for mjsoul scoring validation
  tools/mjsoul-scoring-validation/main.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: configure mjsoul-scoring-validation as a runnable script
  tools/mjsoul-scoring-validation/README.md
  tools/mjsoul-scoring-validation/main.py
  tools/mjsoul-scoring-validation/pyproject.toml
  uv.lock
Due: ruff-check, ty-check, pytest, ruff-format

performance: optimize discard validation login to reuse AgariCalculator instances, reducing overhead
  native/src/env.rs
  tools/mjsoul-scoring-validation/pyproject.toml
Due: rustfmt, clippy

test: add tests for relaxed red 5 logic in chi melds
  tests/env/actions/test_relaxed_red5.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: add discard origin tracking to riichienv
  native/src/env.rs
  tests/env/test_discard_type.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

test: add discard_from_hand field to test_env state
  native/src/tests.rs
Due: rustfmt, clippy

feat(scoring): implement majsoul-style pao liability for composite yakuman
  docs/RULES.md
  native/src/env.rs
  native/src/rule.rs
  tests/env/test_majsoul_pao_scoring.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: improve majsoul pao scoring tests with fixed seed
  native/src/env.rs
  tests/env/test_majsoul_pao_scoring.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: bump project version to 0.2.0
  Cargo.lock
  native/Cargo.toml
  pyproject.toml
  uv.lock
Due: none

fix: resolve issue in grp training script
  demos/ml_baseline/train_grp.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: introduce trainer class for grp model training
  demos/ml_baseline/grp_dataloader.py
  demos/ml_baseline/train_grp.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: implement mjai replay parsing functionality
  native/src/replay/mjai_replay.rs
  tests/test_mjai_replay.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

refactor(mjai): standardize oya player id field name
  native/src/replay/mjai_replay.rs
Due: rustfmt, clippy

feat: implement end_scores and wliqi tracking in replay data structures
  native/src/replay/mjai_replay.rs
  native/src/replay/mjsoul_replay.rs
  native/src/replay/mod.rs
  src/riichienv/_riichienv.pyi
  tests/data/126_204_0_mjai.jsonl
  tests/test_mjai_replay.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

fix(replay): correctly track reach accepted state in mjai replay
  native/src/replay/mjai_replay.rs
Due: rustfmt, clippy

refactor: rename `to_kyoku` to `build` in `kyokubuilder`
  native/src/replay/mjai_replay.rs
Due: rustfmt, clippy

feat: implement mjai event application to game state
  native/src/env.rs
  native/src/observation.rs
  native/src/replay/mod.rs
  native/src/state.rs
  tests/env/test_riichienv.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: add game rule to replay data and kyoku objects
  native/src/replay/mjai_replay.rs
  native/src/replay/mjsoul_replay.rs
  native/src/replay/mod.rs
  src/riichienv/_riichienv.pyi
Due: rustfmt, clippy

feat: add new features to the feature encoder
  demos/ml_baseline/feature_encoder.py
Due: ruff-check, ty-check, pytest, ruff-format

feat: introduce configurable kuikae modes for gameplay rules
  native/src/rule.rs
  native/src/state.rs
  tests/env/rule_validation/test_kuikae.py
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

feat: add grp dataset module for rank prediction model
  demos/ml_baseline/grp_dataset.py
  demos/ml_baseline/train_grp.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor(observation): return observation data as bytes from native code
  Cargo.lock
  demos/ml_baseline/cql_dataset.py
  demos/ml_baseline/test_cql.py
  native/Cargo.toml
  native/src/observation.rs
Due: rustfmt, clippy, ruff-check, ty-check, pytest, ruff-format

chore: update cql training script with minor adjustments
  demos/ml_baseline/train_cql.py
Due: ruff-check, ty-check, pytest, ruff-format

Update native/src/observation.rs
  native/src/observation.rs
Due: rustfmt, clippy

chore: remove redundant comment in game state logic
  native/src/state.rs
Due: rustfmt, clippy

fix(replay): improve initial game state and action processing for replays
  demos/ml_baseline/pyproject.toml
  native/src/lib.rs
  native/src/replay/mjai_replay.rs
  native/src/replay/mjsoul_replay.rs
  native/src/replay/mod.rs
  native/src/state.rs
  tools/mjsoul-parser/pyproject.toml
  uv.lock
Due: rustfmt, clippy

chore: update python dependencies and uv lock
  demos/ml_baseline/README.md
  demos/ml_baseline/pyproject.toml
  native/src/state.rs
  uv.lock
Due: rustfmt, clippy

chore: adjust workspace members in root pyproject.toml
  demos/ml_baseline/pyproject.toml
  demos/ml_baseline/uv.lock
  pyproject.toml
  uv.lock
Due: none

chore: clean up train_online.py imports and exception handling
  demos/ml_baseline/train_online.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: remove unused torch import from train_online.py
  demos/ml_baseline/train_online.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: clean up unused imports and variable assignments in ml baseline
  demos/ml_baseline/buffer.py
  demos/ml_baseline/train_online.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: remove unused lines
  demos/ml_baseline/ray_actor.py
Due: ruff-check, ty-check, pytest, ruff-format

refactor: clean up comments and debug prints in learner.py
  demos/ml_baseline/learner.py
Due: ruff-check, ty-check, pytest, ruff-format

chore: improve readability of tile conversion logic in `state.rs`
  native/src/state.rs
Due: rustfmt, clippy

refactor: restructure gamestate for improved maintainability and clarity
  native/src/env.rs
  native/src/replay/mjsoul_replay.rs
  native/src/replay/mod.rs
  native/src/state.rs
  native/src/state/event_handler.rs
  native/src/state/legal_actions.rs
  native/src/state/mod.rs
  native/src/state/player.rs
  native/src/state/wall.rs
  native/src/tests.rs
Due: rustfmt, clippy

fix: correctly update game state for riichi acceptance and nagashi_eligible
  native/src/state/legal_actions.rs
  native/src/state/mod.rs
  native/src/types.rs
Due: rustfmt, clippy

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ty-check: any of: \.py$
  pytest: any of: \.py$
  ruff-format: any of: \.py$
